
<div class="container-fluid container-margin-top">
<div class="row">
    <div class="col-md-12">
        <div class="welcome-board">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="welcome-text-1" ng-bind-html="profileMessage"></h1>
                    <p class="welcome-text-2">{{profilePara}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="welcome-board-2">
            <div class="row">
                <div class="col-md-12">
<div class="row">
        <div class="col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><span class="fa fa-exchange fa-3x fa-color"></span></div>
                    <div class="info">
                        <h3 class="title">My Transactions</h3>
                        <div class="more">
                            <a href="#" title="Title Link"><i class="fa fa-plus"></i> View and manage your transactions
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class=" col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><li class="fa fa-money fa-3x fa-color"></li></div>
                    <div class="info">
                        <h3 class="title">My Money</h3>

                        <div class="more">
                            <a href="#" title="Title Link"><i class="fa fa-plus"></i> View and manage your finances
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><li class="fa fa-edit fa-3x fa-color"></li></div>
                    <div class="info">
                        <h3 class="title">Update Account</h3>
   
                        <div class="more">
                            <a href="#" title="Title Link"><i class="fa fa-plus"></i>  View and manage your account
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>